absl-py
astor
certifi
chardet
click
Flask
gast
grpcio
gunicorn
h5py
idna
itsdangerous
keras
Keras-Preprocessing
MarkupSafe
numpy
python-resize-image
requests
six
tensorboard
tensorflow
tensorflow-estimator
termcolor
urllib3
Werkzeug
